body{  
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}


main{
    flex:1;
    display: flex;
    flex-direction: column;
    
}

main>div{
    flex:1;
}

.main-1{
    background-color: #1F2937;
    color:white;
}

.main-3{
    background-color: #E5E7EB;
    color:white;

}



header,footer{
    
    max-height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color:white;
    
}

